@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

#topleft {
  position: fixed;
  top: -50px;
  left: -50px;
}

#topright {
  position: fixed;
  top: -50px;
  right: -30px;
}

#bottomleft {
  position: fixed;
  bottom: -50px;
  left: -40px;
}

#bottomright {
  position: fixed;
  bottom: -40px;
  right: -40px;
}

body {
  /* overflow: hidden; */
  background-color: #e6ffff;
}
.custom-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
